.fullcard {
  display: flex;
  background-color: white;
  list-style: none;
}

.fullcard li {
  list-style: none;
}
.fullcard span {
  color: #4285f4;
}

.fullcard img {
  width: 320px;
}

.episode__list {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(auto-fit, 1.5rem);
  justify-items: end;
  justify-content: end;
}
