
.nav-bar {
    background-color: #4285f4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    font-size: 1rem;
    color: white;
    padding-inline: 2rem;
    padding-block: 1rem;
}

.nav-link {
    list-style: none;
    display: inline-block;
}

