

.nav-bar {
    background-color: #4285f4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;

}

.nav-bar * {
    font-size: 1rem;
    color: white;
}

.nav-link {
    list-style: none;
    display: inline-block
}

